<!--The content below is only a placeholder and can be replaced.-->
<plan-drawing height="600" [data]="data"></plan-drawing>

<div class="controls">
    <mat-form-field>
        <mat-select placeholder="Select level" (change)="onLevelChange($event.value)" [(value)]="selectedLevel">
            <mat-option *ngFor="let level of levels" [value]="level.uri">
            {{ level.label }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-card class="query-container" *ngIf="showQuery">
    <div class="icon-bar">
        <mat-icon (click)="showQuery = !showQuery">close</mat-icon>
    </div>
    <span class="query" [innerHTML]="query | MarkdownToHtml"></span>
</mat-card>