<!-- Toolbar -->
<div fxLayout="row" class="toolbar">
    <div fxFlex="grow"></div>

    <div fxLayout="row">
        <div class="icon-div"  (click)="zoomIn()" matTooltip="Zoom in">
            <mat-icon>zoom_in</mat-icon>
        </div>
        <div class="icon-div" (click)="zoomOut()" matTooltip="Zoom out">
            <mat-icon>zoom_out</mat-icon>
        </div>
        <div class="icon-div" (click)="zoomExtents()" matTooltip="Zoom extents">
            <mat-icon svgIcon="zoom_extents"></mat-icon>
        </div>
    </div>
</div>

<svg canvasEvents 
    [style.cursor]="panMode ? 'move' : 'default'"
    #canvas
    class=canvas
    (zoomOut)="zoomOut()"
    (zoomIn)="zoomIn()"
    (panMode)="panMode = $event"
    (move)="move($event)"
    (moveEnd)="moveEnd($event)"
    (window:resize)="onWindowResize()"
    id="canvas">

    <!--Draw rooms-->
    <g *ngFor="let room of rooms"
        [attr.transform]="transform"
        [id]="room.uri"
        [matTooltip]="room.name"
        (click)="selectRoom(room)"
        class="room">
        <polygon *ngFor="let polygon of room.polygons" [attr.points]="polygon" class="polygon">

        </polygon>
    </g>

</svg>